@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Overpass+Mono:wght@600&display=swap');

/* Universal White Space Rule */
* { padding: 0; margin: 0 }

html {
  scroll-behavior: smooth;
}

/* Styles the top navigation bar */
#Top-Nav{
    padding: 11px;
    overflow: hidden;
    background-color: grey;
    color: #ECECEC;
    width: 100vw;
    position: fixed;
}

ul{
  list-style: none;
  margin: 0px auto;
}

/* Styles the items in top navigation bar exlcuding the first element*/
ul.Top-Nav-Items-List li.Item > a, ul.Top-Nav-Items-List li#Nav-Name > a{
    float: left;
    list-style: none;
    margin: 0px 15px 0px 15px;
    width: 150px;
    font-size: 15px;
    font-family: "Overpass Mono", monospace;
    font-weight: bolder;
    letter-spacing: .07em;
    text-decoration-line:none;
    color: white;
}

ul.Top-Nav-Items-List li.Item > a{
    float: right;
}

ul.Top-Nav-Items-List li#Nav-Name > a{
    float: left;
}

ul.Top-Nav-Items-List li#Nav-Menu > a > span > div {
  width: 20px;
  height: 3px;
  background-color: white;
  margin: 3px 20px 0 0;
}

@media only screen and (max-width: 745px){
  ul.Top-Nav-Items-List li#Nav-Menu{
    float: right;
    list-style: none;
    margin-right: 5px;
  }
  ul.Top-Nav-Items-List li.Item > a{
      display: none;
  }
  ul.Top-Nav-Items-List li#Nav-Name>a{
    display: block;
  }
}

@media only screen and (min-width: 746px){
  ul.Top-Nav-Items-List li#Nav-Menu{
    display: none;
  }
  ul.Top-Nav-Items-List li.Item > a{
      display: block;
  }
}

/* Styles the items in top navigation bar exlcuding the first element*/
ul.Top-Nav-Items-List li.Item>a>span{
    margin-left: 5px;
}

/* Styles everything in the top navigation bar except the first element when the mouse is hovered over it */
ul.Top-Nav-Items-List li.Item>a:hover{
    color: black;
    cursor: pointer;
    background-color: white;
}

/* Styles the background of the 'Top Section' of the webpage*/
#Top-Section{
    overflow: hidden;
    background-image: url("Assets/code.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#Top-Section>article{
  font-size: 100px;
  margin: 12.5vw auto;
  background-color: grey;
  color: white;
  border-style: solid;
  border-color: white;
  height: 75vh;
  width: 90vw;
  font-size: 5vw;
  padding: 20px;
}

#Top-Section>article>img{
   /*float: right;*/
   width: 40vw;
   display: inline-block;
   margin-right: 5vw;
   vertical-align: middle;
   max-height: 300px;
}

 section.content{
  font-size: 100px;
  background-color: grey;
  color: white;
  border-style: solid;
  border-color: white;
  height:100vh;
  font-size: 5vw;
  font-family: "Overpass Mono", monospace;
  padding: 10px;
}

section.content:nth-child(even){
  background-color: #0b1254;
}

section.content:nth-child(odd){
  background-color: #083d52;
}

button#ToTopBTN{
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 1px 50px;
  color: white;
  background-color: #4287FF;
  font-family: "Overpass Mono", monospace;
}

button#ToTopBTN:hover{
  background-color: #96BCFF;
}
